this is the index view

<table>
<% @workgroups.each do | workgroup | %>

	<tr class="workgroup" id="workgroup_<%= workgroup.id %>">
		<% @attributes.each do | attribute | %>
			<td class="workgroup_<%= attribute %>" id="workgroup_<%= attribute %><%= node.id %>"> <%= workgroup.send attribute %> </td>
		<% end %>
	</tr>

<% end %>
</table>